<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="chrisMensingsFramework" verbose="1" >

  <test name="RegressionTest">
    <classes>
      <class name="com.ChrisMensing.AmazonSeleniumFramework.VerifySignIn"/>
      <class name="com.ChrisMensing.AmazonSeleniumFramework.VerifySimpleSearch"/>
      <class name="com.ChrisMensing.AmazonSeleniumFramework.VerifyFilteredSearches"/>
    </classes>
  </test>
</suite>
