<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="chrisMensingsFramework" verbose="1" >

  <test name="RegressionTest">
    <classes>
      <class name="com.chrisMensing.seleniumFramework.SignIn"/>
      <class name="com.chrisMensing.seleniumFramework.SendEmail"/>
      <class name="com.chrisMensing.seleniumFramework.TestSearch"/>
    </classes>
  </test>
  
  <test name="TranslateTest">
    <classes>
      <class name="com.chrisMensing.seleniumFramework.Translate"/>
    </classes>
  </test>
  
</suite>
